<html>
<head>
  <title>Isomorphic JavaScript</title>
</head>
<body>

<div class="container" id="view-container">
  {{{body}}}
</div>

<script>
window.bootstrappedData = {{{bodyModel}}};
</script>
<script data-main="app/config" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
</body>
</html>
